.DS_Store
node_modules
/coverage
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.log
/nrdiag-output.zip
/nrdiag-output.json
/nrdiag-filelist.txt
/nrdiag_x64
/newrelic_agent.log
/coverage
